<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <input v-model="username" placeholder="email" />
      <br />
      <br />
      <input v-model="password" placeholder="password" type="password" />
      <br />
      <br />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data: () => {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    ...mapMutations(['setUser', 'setToken']),
    async login() {
        var details = {
              'email': this.username,
              'password': this.password,
              'grant_type': 'password'
          };

          var formBody = [];
          for (var property in details) {
            var encodedKey = encodeURIComponent(property);
            var encodedValue = encodeURIComponent(details[property]);
            formBody.push(encodedKey + "=" + encodedValue);
          }

          formBody = formBody.join("&");

          await fetch("https://cogrammer-restapi.herokuapp.com/users/authenticate", {
              method: "POST",
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
              },
              body: formBody
          }).then(response => response.json()).then((result) => {
              // console.log('_____________________');
              // console.log(result.data.token);
              // console.log(result.data.user);
              // console.log('_____________________');
          
              const token = result.data.token
              const user = result.data.user
              this.setToken(token)
              this.setUser(user)

              this.$router.push("/");
          });
      }
  }
};
</script>

<style scoped>
  form {
    margin-bottom: 2rem;
  }
</style>