<template>
    <div  v-if="isLoggedIn" id="movie-table">
        <table>
      <!-- ...thead... -->
      <tbody>
        <th width="300">Movie Title</th>
        <th width="300">Release Date</th>
        <th width="50"></th>
        <th width="50"></th>
        <tr v-for="movie in movies" :key="movie.id">
          <td>{{ movie.name }}</td>
          <td>{{ movie.released_on }}</td>
          <!--   <li v-for="(key, item) in items"> -->
          <td><button v-on:click="removeElement(movie.id)">Remove</button></td>
          <!-- <td><button>Edit</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'movie-table',
  props: {
      movies: Array,
  },
  computed: {
      ...mapGetters(['isLoggedIn', 'getToken'])
  },
  methods: {
    async removeElement(id) {
      console.log('____________________________' + id)
      const urlString = 'https://cogrammer-restapi.herokuapp.com/movies/' + id;
      
      await fetch(urlString, {
            method: "DELETE",
            headers: {
                'x-access-token': this.getToken
            },
            body: []
        }).then(response => response.json()).then((result) => {
            console.log('XXXXXXXXXXXXXXXX')
            console.log(result)
            console.log('XXXXXXXXXXXXXXXX')
            if (result.status === 'success') {
              console.log('success')
            }
            
            this.$router.go(this.$router.currentRoute)
        });
    }
  }
}
</script>

<style scoped></style>