<template>
    <div>
    <div  v-if="isLoggedIn" id="movie-form" >
        <form v-on:submit.prevent="submitMovie">
            <label>Movie name </label>
            <input v-model="movie.name" type="text" />
            <br />
            <label>Year released </label>
            <input v-model="movie.released_on" type="text" />
            <br />
            <button>Add Movie</button>
        </form>
    </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: 'movie-form',
    data() {
        return {
            movie: {
                name: '',
                released_on: '',
            },
        }
    },
    computed: {
        ...mapGetters(['isLoggedIn', 'getToken'])
    },
    methods: {
        async submitMovie() {
            var details = {
              'name': this.movie.name,
              'released_on': this.movie.released_on,
            };

            var formBody = [];
            for (var property in details) {
                var encodedKey = encodeURIComponent(property);
                var encodedValue = encodeURIComponent(details[property]);
                formBody.push(encodedKey + "=" + encodedValue);
            }

            formBody = formBody.join("&");

            console.log(formBody);

            await fetch("https://cogrammer-restapi.herokuapp.com/movies", {
              method: "POST",
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                  'x-access-token': this.getToken
              },
              body: formBody
          }).then(response => response.json()).then((result) => {
              console.log('XXXXXXXXXXXXXXXX')
              console.log(result)
              console.log('XXXXXXXXXXXXXXXX')
              
              this.$router.go(this.$router.currentRoute)
          });
        }
    }
}
</script>

<style scoped>
  form {
    margin-bottom: 2rem;
  }
</style>