<template>
  <div>
    <h1>Register</h1>
    <form @submit.prevent="register" id="registration">
      <input v-model="user.name" placeholder="name" />
      <br />
      <br />
      <input v-model="user.email" placeholder="email" />
      <br />
      <br />
      <input v-model="user.password" placeholder="password" type="password" />
      <br />
      <br />
      <button type="submit">Register</button>
    </form>
  </div>
</template>

<script>

export default {
  name: 'registration',
  data: () => {
    return {
        user: {
            email: '',
            password: '',
        },
    }
  },
  methods: {
    async register() {
        console.log('1 _____________________') + this.user.email;
        console.log('2 _____________________' + this.user.password);

        var details = {
              'name': this.user.name,
              'email': this.user.email,
              'password': this.user.password,
              'grant_type': 'password'
          };

          console.log('3 _____________________' + details.email);
          console.log('4 _____________________' + details.password);

          var formBody = [];
          for (var property in details) {
            var encodedKey = encodeURIComponent(property);
            var encodedValue = encodeURIComponent(details[property]);
            formBody.push(encodedKey + "=" + encodedValue);
          }

          formBody = formBody.join("&");

          await fetch("https://cogrammer-restapi.herokuapp.com/users/register", {
              method: "POST",
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
              },
              body: formBody
          }).then(response => response.json()).then((result) => {
              console.log('_____________________');
              console.log(result);
              console.log('_____________________');
              if (result.status === 'success') {
                this.$router.push("/login");
              }
          });
      }
  }
};
</script>

<style scoped>
  form {
    margin-bottom: 2rem;
  }
</style>