<template>
  <div>
   <h1> Welcome </h1>
    <router-link v-if="!isLoggedIn" to="/login"><button>Login</button></router-link>
    <router-link v-if="!isLoggedIn" to="/register"><button>Register</button></router-link>

    <button v-if="isLoggedIn" v-on:click="logout">Logout</button>
    <br />
    <br />
    <movie-form  v-if="isLoggedIn"></movie-form>
    <br />
    <movie-table  v-if="isLoggedIn" v-bind:movies="movies"/>
    <br />

  </div>
</template>

<script>
import MovieTable from './/MovieTable.vue'
import MovieForm from './MovieForm.vue'
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";


export default {
  name: 'Main',
  components: {
    MovieTable,
    MovieForm
  },
  data() {
          return {
              movie: {
                  name: '',
                  year: '',
              },
              movies: []
          }
    },
  computed: {
    ...mapGetters(['isLoggedIn', 'getToken'])
  },
  created() {  
        this.getMovies();  
  },  
  methods: {
    ...mapMutations(['LogOut']),
    async logout() {
      this.LogOut()
    },
    async getMovies() {
      if (this.isLoggedIn) {
        await fetch("https://cogrammer-restapi.herokuapp.com/movies", {
                method: "GET",
                headers: {
                    'x-access-token': this.getToken
                }
            }).then(response => response.json()).then((result) => {
              console.log("________________________________________________________________________")
                this.movies = result.data.movies
          });
      }
    }
  }
};
</script>

<style scoped>
  form {
    margin-bottom: 2rem;
  }
</style>